:root {
  --color-background: #181818;
  --color-background-soft: #222222;

  --color-text: #c8c8a0;
  --color-links: #f39639;

  --color-scrollbar-track: #222222;
  --color-scrollbar-thumb: #f39639;
  --color-scrollbar-thumb-hover: #f8c088;

  --color-button-bg: #f39639;
  --color-button-bg-hover: #f8c088;
  --color-button-text: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
